<web-app>
	<display-name></display-name>
    <servlet>
    	<servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/ReactTemplateProject</url-pattern>
    </servlet-mapping>
</web-app>