$icomoon-font-path: "fonts" !default;

$icon-more_vert: \e905;
$icon-delete: \e872;
$icon-visibility: \e8f4;
$icon-minus: \e90b;
$icon-subtract: \e90b;
$icon-minimize: \e90b;
$icon-line: \e90b;
$icon-plus: \e90c;
$icon-add: \e90c;
$icon-sum: \e90c;
$icon-search: \e901;
$icon-magnifier: \e901;
$icon-magnifying-glass: \e901;
$icon-inspect: \e901;
$icon-find: \e901;
$icon-rectangle: \e902;
$icon-check: \f00c;
$icon-close: \f00d;
$icon-remove: \f00d;
$icon-times: \f00d;
$icon-cog: \f013;
$icon-gear: \f013;
$icon-refresh: \f021;
$icon-question-circle: \f059;
$icon-eye: \f06e;
$icon-eye-slash: \f070;
$icon-folder-open: \f07c;
$icon-load: \f07c;
$icon-floppy-o: \f0c7;
$icon-save: \f0c7;
$icon-bars: \f0c9;
$icon-reorder: \f0c9;
$icon-rotate-left: \f0e2;
$icon-undo: \f0e2;
$icon-angle-double-left: \f100;
$icon-angle-double-right: \f101;
$icon-angle-double-up: \f102;
$icon-angle-double-down: \f103;
$icon-angle-up: \f106;
$icon-angle-down: \f107;

